.container {
}

.new-tweet {
  margin: 2em 2em;
  background-color: #eeeeee;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  border-color: #cbcbcb;
  padding: 10px;
}

.new-tweet .counter {
  
}

.new-tweet h2 {
  border-bottom: 1px solid black;
}

.new-tweet textarea {
  color: #8d8d8d;
  display: block;
  margin: 10px 0px;
  width: 100%;
}

.new-tweet .counter {
  float: right;
}

